@(currentPage: com.avaje.ebean.Page[Member], 
currentSortBy: String, currentOrder: String, 
currentFilter: String, availableYears: List[MembershipYear])

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String, currentYear:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Application.list(newPage, sortBy, order, currentYear)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key, currentFilter)">@title</a>
    </th>
}

@main("Välkommen till Gotlands fibromyalgiförening") {
    
    @*<h1 id="homeTitle">@Messages("computers.list.title", currentPage.getTotalRowCount)</h1>*@

    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Klart!</strong> @flash.get("success")
        </div>
    } 

    <div id="actions">
        
        <form action="@link(0, "name", "0")" method="GET">
            @*<input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by computer name...">*@
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn primary">
        </form>
        <form action="@link(0, "name", "0")" method="GET">
        	<select name="f" value="@currentFilter">
        	@for(memberShipYear <- availableYears) {
        		<option value="@memberShipYear.yearid">@memberShipYear.year</option>
        	}
        	</select>
        	<input type="submit" value="Visa valt år">
        </form>
        
        @*<a class="btn success" id="add" href="@routes.Application.create()">Add a new computer</a>*@
        
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="computers zebra-striped">
            <thead>
                <tr>
                    @header("firstname lastname", "Namn")
                    @header("address", "Gatuadress")
                    @header("postcode", "Postnummer")
                    @header("postal", "Postort")
                    @header("memberInfo.birthday", "Födelsedag")
                    @header("memberFixedPhone.phonenumber", "Telefon")
                    @header("memberMobilePhone.phonenumber", "Mobil")
                    @header("memberEmail.email", "E-post")
                    @header("memberMembership.membership_year", "Medlemstyp")
                </tr>
            </thead>
            <tbody>
                @for(member <- currentPage.getList) {
                    <tr>
                        <td><a href="@routes.Application.edit(member.id)">@member.firstname @member.lastname</a></td>
                        <td>
                            @if(member.address == null) {
                                <em>-</em>
                            } else {
                                @member.address
                            }
                        </td>
                        <td>
                            @if(member.postcode == null) {
                                <em>-</em>
                            } else {
                                @member.postcode
                            }
                        </td>
                        <td>
                            @if(member.postal == null) {
                                <em>-</em>
                            } else {
                                @member.postal
                            }
                        </td>
                        <td>
                            @if(member.memberInfo.birthday == null) {
                                <em>-</em>
                            } else {
                                @member.memberInfo.birthday
                            }
                        </td>
                        <td>
                            @if(member.memberFixedPhone == null) {
                                <em>-</em>
                            } else {
                            	@member.memberFixedPhone.phonenumber
                            }
                        </td>
                        <td>
                            @if(member.memberMobilePhone == null) {
                                <em>-</em>
                            } else {
                                @member.memberMobilePhone.phonenumber
                            }
                        </td>
                        <td>
                            @if(member.memberEmail == null) {
                                <em>-</em>
                            } else {
                                @member.memberEmail.email
                            }
                        </td>
                        <td>
                        	@member.memberMembership.membershiptype		
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null, currentFilter)">&#9668; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&#9668; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null, currentFilter)">Next &#9658;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &#9658;</a>
                    </li>
                }
            </ul>
        </div>
        
    }
        
}

            